.cache
.DS_Store
.terraform
basic_auth_lambda.zip
coverage/
test-coverage/
screenshot-coverage/
test-report.xml
dist/
dist-es/
dist-dev/
lib/
dist-vw/
lerna-debug.log
node_modules/
npm-debug.log
package-lock.json
slnx.sqlite
terraform.tfstate.backup
todo.tasks
yarn-error.log
.idea/
.serverless
.docz
__diff_output__/
*.tsbuildinfo
.scannerwork/
/components-core.iml

# yarn 2/3 (without pnp enabled)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
